*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color:#000;
}
.nav{
    height: 100px;
    width: 100%;
    /* padding: 0 30px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-prt2{
    display: flex;
    width: 45%;
    /* background-color: blue; */
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.nav i{
    font-size:20px ;
    margin-right: 10px;
}
.nav h5{
    font-size:14px ;
    font-weight: 600;
}
.nav img{
    height:70px;
}
.line{
    width:42px;
    height:2px;
    background-color: red;
}
.content{
    height:calc(100% - 100px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.left{
    width:36%;
    height: 100%;
    /* background-color: red; */
    padding: 80px 60px;
}
.right{
    width:36%;
    height: 100%;
    /* background-color: red; */
    padding: 200px 100px;
}
.center{
    width:25%;
    height: 110%;
    /* background-color: rgb(76, 0, 255); */
    padding-top: 20px;
}
.left h1{
    font-size: 55px;
    line-height:55px ;
    font-weight: 700;
    margin-bottom: 20px;
}
.left h1 span{
    color: red;
    font-weight: 500;
}
.left p{
    font-size: 17px;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 20px;
}
.left button{
    background-color: red;
    padding:20px 40px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.left button i{
    margin-right: 10px;
}
.center-bg{
    background-color: blue;
    height: 88%;
    width: 100%;
    border-top-left-radius:1000px;
    border-top-right-radius:1000px;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
    background-size: 350%;
    background-position: 40% 60%;
    filter: blur(1.5px);
}
.content>img{
    height: 100%;
    position: absolute;
    left: 36%;
    z-index:99;
    transform: translate(-50 , 0);
}
.right-elems{
    /* background-color: red; */
    width:350px

}
.elem1{
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;
}
.elem1 h1{
    font-size: 20px;
    font-weight: 600;
}
.elem1 i{
    font-size: 20px;
}
.elem2 h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 15px;
}
.elem2 p{
    font-size: 14px;
    width:70%;
    opacity: 0.6;
}